{%extends 'nav.html'%}
{%block content%}
</br>
</br>
</br>
</br>
</br>
<center>
  <form method="post">
    <h1>Donate Form</h1>
    Prepared on:
  <input type="datetime-local">
  <br></br>
  Best till:
   <input type="datetime-local">
  <br><br>
  <input type="radio" name="gender" value="male"> Vegitarian<br>
  <input type="radio" name="gender" value="female"> NonVegitarian<br>
  <br><br>
  <input type="submit" value="Submit">
  </form>
</center>
<style media="screen">
    .form{
      display: tabel;
    }
</style>
{%endblock%}
